<div class="mapouter">
    <div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?width=460&amp;height=310&amp;hl=en&amp;q=Jokai Ter 3&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
            href="https://sprunkin.com/">Sprunki</a></div>
    <style>
        .mapouter {
            position: relative;
            text-align: right;
            width: 460px;
            height: 310px;
        }

        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            width: 460px;
            height: 310px;
        }

        .gmap_iframe {
            width: 460px !important;
            height: 310px !important;
        }
    </style>
</div>