<div class="carousel" duration="7000">
    <ul tabindex="0">
      <li id="c1_slide1"><div>Nice cat number 1<br /><a href="https://www.google.com">adopt me</a></div></li>  
      <li id="c1_slide2"><div>Nice cat number 2<br /><a href="https://www.google.com">adopt me</a></div></li>  
      <li id="c1_slide3"><div>Nice cat number 3<br /><a href="https://www.google.com">adopt me</a></div></li>  
      <li id="c1_slide4"><div>Nice cat number 4<br /><a href="https://www.google.com">adopt me</a></div></li>  
    </ul>
    <ol>
      <li><a href="#c1_slide1"></a></li>
      <li><a href="#c1_slide2"></a></li>
      <li><a href="#c1_slide3"></a></li>
      <li><a href="#c1_slide4"></a></li>
    </ol>
    <div class="prev">&lsaquo;</div>
    <div class="next">&rsaquo;</div>
  </div>